html {
    scroll-behavior: smooth !important;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #EEEEEE;
}

nav {
    background-color: #393E46;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.navLogo {
    height: 40px;
    margin-top: 5px;
    padding-left: 30px;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
}

li a {
    display: block;
    color: #EEEEEE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #00ADB5;
}

.hero-container {
    height: 100vh;
    display: grid;
    color: #EEEEEE;
    grid-template-columns: 1fr 1fr;
    background-color: #222831;
    padding: 0px 30px;
}

.item {
    display: flex;
    justify-content: center;
}           

.header {
    flex-direction: column;
}

#header p {
    font-size: 20px;
}
.name {
    color: #00ADB5;
    font-weight: 800;
    font-size: 60px;
}

#contact {
    font-size: 20px;   
    display: flex;
    flex-direction: column;
}

.icons {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    height: auto;
}

.icons > a img{
    height: 40px;
    transition: transform .2s;
}

.icons > a:hover{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}

.resume{
    background-color: #00ADB5;
    height: 40px;
    width: 190px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
}

.resume a{
    text-decoration: none;
    color: #EEEEEE;
}

.resume a p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.resume:hover{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}

#heroPhotoOne{
    max-width: 100%;
    max-height: 80vh;
}

.photos {
    align-items: flex-end;
}

#skills{
    background: #EEEEEE;
    /* height: 100vh; */
    padding-bottom: 40px;
    
}

.MySkills{
    display: flex;
    justify-content: center;
}

.MySkills p{
    font-size: 60px;
    font-weight: 800;
    color: #00ADB5;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
}

.skills{
    display: flex;
    justify-content: center;
    /* height: 80vh; */
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.skills img{
    max-width: 100px;
    transition: transform .2s;
}

.skills img:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

#About{
    background-color: #222831;
    /* height: 100vh; */
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0px 30px;
    color: #EEEEEE;
}

.aboutImage{
    grid-area: 1 / 1 / 3 / 3;
    display: flex;
    align-items: flex-start;
}

.primaryImage{
    max-width: auto;
}

.altImage{
    display: none;
}

.about {
    justify-self: flex-start;
    color: #00ADB5;
    font-weight: 800;
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
}

.description{
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    text-align: end;
    flex-direction: column;
    font-size: 18px;
}

#Contact{
    background-color: #222831;
    padding: 20px 30px;
    color: #EEEEEE;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 20px;
    
}

#Contact .Contact{
    grid-column: span 2;
    color: #00ADB5;
    font-weight: 800;
    font-size: 60px;
    margin-top: 0px;
}

.form-container{
    background-color: #393E46;
    border-radius: 12px;
    padding: 20px 20px;
}

label {
    padding-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form input{
    padding: 10px;
    border-radius: 12px;
    background: #EEEEEE;
    font-size: 13px;
    border: none;
    margin-bottom: 10px;
}

form textarea{
    width: auto;
    border-radius: 12px;
    padding-left: 10px;
    padding-top: 10px;
    background: #EEEEEE;
    resize: none;
    height: 200px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

#submit{
    width: 25%;
    justify-self: end;
    background: #00ADB5;
    font-family: 'Roboto', sans-serif;
    color: #EEEEEE;
}

.profile{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    align-items: center;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.address img{
    height: 40px;
}

.footer{
    background: #393E46;
    color: #EEEEEE;
    display: flex;
    justify-content: center;
    height: 20px;
    align-items: center;
}

.footer p{
    margin: 0px;
}

@media (max-width: 408px){

    .navLogo {
        padding-left: 0px;
    }
    
    nav{
        display: block   
    }
    
    nav img{
        display: block;
        margin: 0 auto;
    }

    nav ul {
        display: flex;
        justify-content: center;
        font-size: 13px;
    }
   
    .hero-container {
        height: auto;
        padding-top: 100px;
    }
  
    #heroPhotoOne{
        max-width: 70%;
    }

    #header p {
        font-size: 13px;
    }
    
    .name {
        font-size: 19px;
    }

    #contact {
        font-size: 13px;
        padding-bottom: 10px;
    }

    .icons > a img{
        height: 20px;
    }

    .resume{
        height: 20px;
        width: 110px;
    }

    .resume a p {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .resume a p {
        font-size: 12px;
    }


    .MySkills p{
        font-size: 26px;
        padding-bottom: 20px;
    }

    .skills{  
        height: auto;
        padding-bottom: 20px;
    }

    #skills{
        height: auto;
    }

    .skills img{
        max-width: 40px;
    }

    .skills img:hover {
        -ms-transform: scale(1.25); /* IE 9 */
        -webkit-transform: scale(1.25); /* Safari 3-8 */
        transform: scale(1.25);
    }

   #About{
        background-color: #222831;
        display: flex;
        overflow: visible;
        height: auto;
        flex-direction: column-reverse;
    }

    .primaryImage {
        display: none;
    }

    .altImage {
        display: block;
        max-width: 100%;
    }

    .description{
        text-align: start;
    }

    .about {
        font-size: 26px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 20px;
    }

    #Contact{
        display: flex;
        flex-direction: column;  
    }
    
    #Contact .Contact{
        font-size: 26px;
    }
    
    .form-container{
        margin-bottom: 20px;
    }
    
    .contact-container{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: auto;
        column-gap: 20px;
    }
    
    .profile{
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
        align-items: center;
    }

    .profile p{
        font-size: 13px;
    }
    
    .address img{
        height: 20px;
    }

    .address {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    address{
        font-size: 13px;
    }
    
    .socials {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .socials p {
        margin-top: 10px;
        font-size: 13px;
    }
   
   
}

@media (max-width: 512px) and (min-width: 409px){

    .navLogo {
        padding-left: 0px;
    }
    
    nav{
        display: block   
    }
    
    nav img{
        display: block;
        margin: 0 auto;
    }

    nav ul {
        display: flex;
        justify-content: center;
        font-size: 13px;
    }
   
    .hero-container {
        height: auto;
        padding-top: 100px;
    }
  
    #heroPhotoOne{
        max-width: 70%;
    }

    #header p {
        font-size: 13px;
    }
    
    .name {
        font-size: 20px;
    }

    #contact {
        font-size: 13px;
        padding-bottom: 10px;
    }

    .icons > a img{
        height: 30px;
    }

    .resume{
        height: 30px;
        width: 150px;
    }

    .resume a p {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .resume a p {
        font-size: 15px;
    }

    .MySkills p{
        font-size: 26px;
        padding-bottom: 20px;
    }

    .skills{  
        height: auto;
        padding-bottom: 20px;
    }

    #skills{
        height: auto;
    }

    .skills img{
        max-width: 50px;
    }

    .skills img:hover {
        -ms-transform: scale(1.25); /* IE 9 */
        -webkit-transform: scale(1.25); /* Safari 3-8 */
        transform: scale(1.25);
    }

   #About{
        background-color: #222831;
        display: flex;
        overflow: visible;
        height: auto;
        flex-direction: column-reverse;
    }

    .primaryImage {
        display: none;
    }

    .altImage {
        display: block;
        max-width: 100%;
    }

    .description{
        text-align: start;
    }

    .about {
        font-size: 26px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 20px;
    }

    #Contact{
        display: flex;
        flex-direction: column;  
    }
    
    #Contact .Contact{
        font-size: 26px;
    }
    
    .form-container{
        margin-bottom: 20px;
    }
    
    .contact-container{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: auto;
        column-gap: 20px;
    }
    
    .profile{
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
        align-items: center;
    }

    .profile p{
        font-size: 13px;
    }
    
    .address img{
        height: 30px;
    }

    .address {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    address{
        font-size: 13px;
    }
    
    .socials {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .socials p {
        margin-top: 10px;
        font-size: 13px;
    }
   
}

@media (max-width: 664px) and (min-width: 513px){

    .navLogo {
        padding-left: 0px;
    }
    
    nav{
        display: block   
    }
    
    nav img{
        display: block;
        margin: 0 auto;
    }

    nav ul {
        display: flex;
        justify-content: center;
        font-size: 13px;
    }
   
    .hero-container {
        height: auto;
        padding-top: 100px;
    }
  
    #heroPhotoOne{
        max-width: 80%;
    }

    #header p {
        font-size: 18px;
    }
    
    .name {
        font-size: 26px;
    }

    #contact {
        font-size: 18px;
        padding-bottom: 10px;
    }

    .icons > a img{
        height: 30px;
    }

    .resume{
        height: 30px;
        width: 150px;
    }

    .resume a p {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .resume a p {
        font-size: 15px;
    }

    .MySkills p{
        font-size: 26px;
        padding-bottom: 20px;
    }

    .skills{  
        height: auto;
        padding-bottom: 20px;
    }

    #skills{
        height: auto;
    }

    .skills img{
        max-width: 70px;
    }

    .skills img:hover {
        -ms-transform: scale(1.25); /* IE 9 */
        -webkit-transform: scale(1.25); /* Safari 3-8 */
        transform: scale(1.25);
    }

   #About{
        background-color: #222831;
        display: flex;
        overflow: visible;
        height: auto;
        flex-direction: column-reverse;
    }

    .primaryImage {
        display: none;
    }

    .altImage {
        display: block;
        max-width: 100%;
    }

    .description{
        text-align: start;
    }

    .about {
        font-size: 26px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 20px;
    }

    #Contact{
        display: flex;
        flex-direction: column;  
    }
    
    #Contact .Contact{
        font-size: 26px;
    }
    
    .form-container{
        margin-bottom: 20px;
    }
    
    .contact-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .profile{
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
        align-items: center;
    }

    .profile p{
        font-size: 13px;
    }
    
    address {
        font-size: 13px;
    }
    .address img{
        height: 30px;
    }

    .address {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    
    .socials {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .socials p{
        margin-top: 0px;
        font-size: 13px;
    }
   
}

@media (max-width: 768px) and (min-width: 665px){

    .hero-container {
        height: auto;
        padding-top: 60px;
    }

    #header p {
        font-size: 18px;
    }
    
    .name {
        color: #00ADB5;
        font-weight: 800;
        font-size: 34px;
    }

    #heroPhotoOne{
        max-width: 80%;
    }

    #contact {
        font-size: 18px;
    }

    .icons > a img{
        height: 30px;
    }

    .resume{
        height: 30px;
        width: 150px;
    }

    .resume a p {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .resume a p {
        font-size: 15px;
    }

    .MySkills p{
        font-size: 34px;
        padding-bottom: 20px;
    }

    .skills{  
        height: auto;
    }

    #skills{
        height: auto;
        padding-bottom: 20px;
    }

    .skills img{
        max-width: 70px;
    }

    .skills img:hover {
        -ms-transform: scale(1.25); /* IE 9 */
        -webkit-transform: scale(1.25); /* Safari 3-8 */
        transform: scale(1.25);
    }

    #About{
        background-color: #222831;
        display: flex;
        overflow: visible;
        height: auto;
        flex-direction: column-reverse;
    }

    .primaryImage {
        display: none;
    }

    .altImage {
        display: block;
        max-width: 100%;
    }

    .description{
        text-align: start;
        font-size: 16px;
    }

    .about {
        font-size: 34px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 20px;
    }

    #Contact{
        display: flex;
        flex-direction: column;
        
    }
    
    #Contact .Contact{
        font-size: 34px;
    }
    
    .form-container{
        margin-bottom: 20px;
    }

    .contact-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .profile{
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
        align-items: center;
    }
    
    .address img{
        height: 30px;
    }

    .address {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    
    .socials {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

}

@media (max-width: 1200px) and (min-width:769px){
    
    .hero-container {
        height: auto;
        padding-top: 60px;
    }

    #header p {
        font-size: 18px;
    }
    
    .name {
        color: #00ADB5;
        font-weight: 800;
        font-size: 50px;
    }

    #heroPhotoOne{
        max-width: 100%;
    }

    #contact {
        font-size: 18px;
    }

    .resume a p {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .MySkills p{
        font-size: 50px;
        padding-bottom: 20px;
    }

    .skills{
        display: flex;
        justify-content: center;
        /* height: 80vh; */
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    .skills img{
        max-width: 100px;
        transition: transform .2s;
    }

    .skills img:hover {
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.5);
    }
    
    .about{
        font-size: 50px;
    }

    .description {
        font-size: 16px;
    }
}

/* For iphone 14 pro max */
@media only screen and (width: 430px) and (height: 932px) and (-webkit-device-pixel-ratio: 3){

    .navLogo {
        padding-left: 0px;
    }
    
    nav{
        display: block   
    }
    
    nav img{
        display: block;
        margin: 0 auto;
    }

    nav ul {
        display: flex;
        justify-content: center;
        font-size: 13px;
    }
   
    .hero-container {
        height: auto;
        padding-top: 100px;
    }
  
    #heroPhotoOne{
        max-width: 70%;
    }

    #header p {
        font-size: 13px;
    }
    
    .name {
        font-size: 20px;
    }

    #contact {
        font-size: 13px;
        padding-bottom: 10px;
    }

    .icons > a img{
        height: 30px;
    }

    .resume{
        height: 30px;
        width: 150px;
    }

    .resume a p {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .resume a p {
        font-size: 15px;
    }

    .MySkills p{
        font-size: 26px;
        padding-bottom: 20px;
    }

    .skills{  
        height: auto;
        padding-bottom: 20px;
    }

    #skills{
        height: auto;
    }

    .skills img{
        max-width: 50px;
    }

    .skills img:hover {
        -ms-transform: scale(1.25); /* IE 9 */
        -webkit-transform: scale(1.25); /* Safari 3-8 */
        transform: scale(1.25);
    }

   #About{
        background-color: #222831;
        display: flex;
        overflow: visible;
        height: auto;
        flex-direction: column-reverse;
    }

    .primaryImage {
        display: none;
    }

    .altImage {
        display: block;
        max-width: 100%;
    }

    .description{
        text-align: start;
    }

    .about {
        font-size: 26px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 20px;
    }

    #Contact{
        display: flex;
        flex-direction: column;  
    }
    
    #Contact .Contact{
        font-size: 26px;
    }
    
    .form-container{
        margin-bottom: 20px;
    }
    
    .contact-container{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: auto;
        column-gap: 20px;
    }
    
    .profile{
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
        align-items: center;
    }

    .profile p{
        font-size: 13px;
    }
    
    .address img{
        height: 30px;
    }

    .address {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    address{
        font-size: 13px;
    }
    
    .socials {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .socials p {
        margin-top: 10px;
        font-size: 13px;
    }

}

/* For iphone 11 */
@media only screen and (width: 414px) and (height: 896px) and (-webkit-device-pixel-ratio: 2){
   
    .navLogo {
        padding-left: 0px;
    }
    
    nav{
        display: block   
    }
    
    nav img{
        display: block;
        margin: 0 auto;
    }

    nav ul {
        display: flex;
        justify-content: center;
        font-size: 13px;
    }
   
    .hero-container {
        height: auto;
        padding-top: 100px;
    }
  
    #heroPhotoOne{
        max-width: 70%;
    }

    #header p {
        font-size: 13px;
    }
    
    .name {
        font-size: 20px;
    }

    #contact {
        font-size: 13px;
        padding-bottom: 10px;
    }

    .icons > a img{
        height: 30px;
    }

    .resume{
        height: 30px;
        width: 150px;
    }

    .resume a p {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .resume a p {
        font-size: 15px;
    }

    .MySkills p{
        font-size: 26px;
        padding-bottom: 20px;
    }

    .skills{  
        height: auto;
        padding-bottom: 20px;
    }

    #skills{
        height: auto;
    }

    .skills img{
        max-width: 50px;
    }

    .skills img:hover {
        -ms-transform: scale(1.25); /* IE 9 */
        -webkit-transform: scale(1.25); /* Safari 3-8 */
        transform: scale(1.25);
    }

   #About{
        background-color: #222831;
        display: flex;
        overflow: visible;
        height: auto;
        flex-direction: column-reverse;
    }

    .primaryImage {
        display: none;
    }

    .altImage {
        display: block;
        max-width: 100%;
    }

    .description{
        text-align: start;
    }

    .about {
        font-size: 26px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 20px;
    }

    #Contact{
        display: flex;
        flex-direction: column;  
    }
    
    #Contact .Contact{
        font-size: 26px;
    }
    
    .form-container{
        margin-bottom: 20px;
    }
    
    .contact-container{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: auto;
        column-gap: 20px;
    }
    
    .profile{
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
        align-items: center;
    }

    .profile p{
        font-size: 13px;
    }
    
    .address img{
        height: 30px;
    }

    .address {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    address{
        font-size: 13px;
    }
    
    .socials {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .socials p {
        margin-top: 10px;
        font-size: 13px;
    }

 
}
