html {
    scroll-behavior: smooth !important;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #EEEEEE;
}

.container{
    padding: 0px 5rem;
}

#Navi{
    background-color: #393E46;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.navLogo {
    height: 40px;
    margin-top: 5px;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
}

li a {
    display: block;
    color: #EEEEEE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #00ADB5;
}

.hero{
    height: 100vh;
    display: grid;
    color: #EEEEEE;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    background-color: #222831;

}

.item {
    display: flex;
    justify-content: center;
}           

.header {
    flex-direction: column;
}

.header p {
    font-size: 20px;
}

.name {
    color: #00ADB5;
    font-weight: 800;
    font-size: 75px;
}

#contact {
    font-size: 20px;   
    display: flex;
    flex-direction: column;
}

.icons {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    height: auto;
}

.icons > a img{
    height: 40px;
    transition: transform .2s;
}

.icons > a:hover{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}

.resume{
    background-color: #00ADB5;
    height: 40px;
    width: 190px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
}

.resume a{
    text-decoration: none;
    color: #EEEEEE;
}

.resume a p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.resume:hover{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}

#heroPhotoOne{
    max-width: 100%;
    max-height: 90vh;
}

.photos {
    grid-area: 1 / 2 / 3 / 3;
    align-items: flex-end;
}

#skills{
    background: #EEEEEE;
    height: 100vh;
    padding-top: 2rem;    
}

.MySkills{
    display: flex;
    justify-content: center;
}

.skills{
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.skills img{
    max-width: 100px;
    transition: transform .2s;
}

.skills img:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

#project{
    background: #393E46;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.label{
    font-size: 60px;
    font-weight: 800;
    color: #00ADB5;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 2rem;
    padding-bottom: 20px;
}

.project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
}

.project-container{
    background: #EEEEEE;
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.project > a img{
    max-width: 100%;
    border-radius: 12px;
    transition: transform 10s;
}

.project > a:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}

.projectDescription{
    color: #393E46;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#About{
    background-color: #222831;
    overflow: hidden;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.About{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    color: #EEEEEE;
}

.aboutImage{
    grid-area: 1 / 1 / 3 / 3;
    display: flex;
    align-items: flex-start;
}

.primaryImage{
    max-width: auto;
}

.altImage{
    display: none;
}

.description{
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    text-align: end;
    flex-direction: column;
    font-size: 20px;
}

#Contact{
    background-color: #222831;
    padding-top: 2rem;
    color: #EEEEEE;
    padding-bottom: 2rem;
    
}

.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 20px;   
}

#Contact .Contact{
    grid-column: span 2;
    margin-top: 0;
}

.form-container{
    background-color: #393E46;
    border-radius: 12px;
    padding: 20px 20px;
}

label {
    padding-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form input{
    padding: 10px;
    border-radius: 12px;
    background: #EEEEEE;
    font-size: 13px;
    border: none;
    margin-bottom: 10px;
}

form textarea{
    width: auto;
    border-radius: 12px;
    padding-left: 10px;
    padding-top: 10px;
    background: #EEEEEE;
    resize: none;
    height: 200px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

#submit{
    width: 25%;
    justify-self: end;
    background: #00ADB5;
    font-family: 'Roboto', sans-serif;
    color: #EEEEEE;
}

.profile{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    align-items: center;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.address img{
    height: 40px;
}

.footer{
    background: #393E46;
    color: #EEEEEE;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    align-items: center;
}

.footer p{
    margin: 0px;
}

@media (max-width:575px){

    .container{
        padding: 0px 2rem;
    }

    .nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 1rem !important;
    }

    li a {
        font-size: 15px;
        padding: 10px 5px;
    }

    .header p {
        font-size: 15px;
    }

    .label{
        font-size: 30px;
    }

    .hero{
        height: auto;
        padding-top: 6rem;
    }

    .header{
        grid-area: 1 / 1 / 2 / 3;
    }

    .photos {
        grid-area: 2 / 2 / 3 / 3;
    }

    .name {
        font-size: 23px;
    }

    #contact {
        font-size: 15px;
        justify-content: center;
    }

    .icons > a img{
        height: 20px;
    }

    .resume{
        height: 20px;
        width: 110px;
    }

    .resume p{
        font-size: 10px;
    }

    #skills{
        height: auto;
        padding: 4rem 0;    
    }

    .skills{
        height: auto;
    }
    
    .skills img{
        max-width: 44px;
    }

    #project{
        padding-top: 4rem;
    }

    .project{
        display: flex;
        flex-direction: column;
    }

    .projectDescription p{
        font-size: 15px;

    }

    #About{
        padding-top: 4rem;
    }

    .About{
        display: flex;
        flex-direction: column-reverse;
        color: #EEEEEE;
    }

    .primaryImage{
        display: none;
    }
    
    .altImage{
        display: block;
        max-width: 100%;
    }

    .description{
        text-align: start;
        font-size: 15px;
    }

    #Contact{
        padding-top: 4rem;
    }

    .form{
        display: flex;
        flex-direction: column;  
    }

    #submit{
        width: 100%;
    }

    .contact-container{
        padding-top: 2rem;
    }

    .profile {
        font-size: 15px;
    }

    .address img{
        height: 20px;
    }

    .address{
        align-items:flex-start;
    }

    .socials{
        align-items:flex-start;
        font-size: 15px;
    }

}

@media (min-width:576px) and (max-width:767px){

    .nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    li a {
        font-size: 15px;
    }

    .header p {
        font-size: 15px;
    }

    .label{
        font-size: 40px;
    }

    .hero{
        height: auto;
        padding-top: 6rem;
    }

    .name {
        font-size: 23px;
    }

    #contact {
        font-size: 15px;
    }

    .icons > a img{
        height: 30px;
    }

    .resume{
        height: 30px;
        width: 150px;
    }

    #skills{
        height: auto;
        padding: 4rem 0;    
    }

    .skills{
        height: auto;
    }
    
    .skills img{
        max-width: 60px;
    }

    #project{
        padding-top: 4rem;
    }

    .project{
        display: flex;
        flex-direction: column;
    }

    .projectDescription p{
        font-size: 16px;

    }

    #About{
        padding-top: 4rem;
    }

    .About{
        display: flex;
        flex-direction: column-reverse;
        color: #EEEEEE;
    }

    .primaryImage{
        display: none;
    }
    
    .altImage{
        display: block;
        max-width: 100%;
    }

    .description{
        text-align: start;
        font-size: 16px;
    }

    #Contact{
        padding-top: 4rem;
    }

    .form{
        display: flex;
        flex-direction: column;  
    }

    #submit{
        width: 25%;
    }

    .contact-container{
        padding-top: 2rem;
    }

    .profile {
        font-size: 16px;
    }

    .address img{
        height: 30px;
    }

    .address{
        align-items:flex-start;
    }

    .socials{
        align-items:flex-start;
        font-size: 16px;
    }



}

@media (min-width:768px) and (max-width:991px){

    .header p {
        font-size: 18px;
    }

    .label{
        font-size: 50px;
    }

    .hero{
        height: auto;
        padding-top: 5rem;
    }

    .name {
        font-size: 34px;
    }

    .project{
        display: flex;
        flex-direction: column;
    }

    .projectDescription{
        font-size: 18px;
    }

    #contact {
        font-size: 18px;
    }


    .About{
        display: flex;
        flex-direction: column-reverse;
        color: #EEEEEE;
    }

    .primaryImage{
        display: none;
    }
    
    .altImage{
        display: block;
        max-width: 100%;
    }

    .description{
        text-align: start;
        font-size: 18px;
    }


}

@media (min-width:992px) and (max-width:1199px){

    .name {
        font-size: 47px;
    }

}


/* For iphone 14 pro max */
@media only screen and (width: 430px) and (height: 932px) and (-webkit-device-pixel-ratio: 3){

}

/* For iphone 11 */
@media only screen and (width: 414px) and (height: 896px) and (-webkit-device-pixel-ratio: 2){
  
   
}
